name: Terraform Apply

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_location: ${{ secrets.TF_VAR_LOCATION }}
          TF_VAR_resource_group_name: ${{ secrets.TF_VAR_RESOURCE_GROUP_NAME }}

          # Key Vault
          TF_VAR_key_vault_name: ${{ secrets.TF_VAR_KEY_VAULT_NAME }}

          # OIDC federated principal
          TF_VAR_github_principal_id: ${{ secrets.AZURE_FEDERATED_OBJID }}

          # Secretos
          TF_VAR_secret_bd_datos: ${{ secrets.SECRET_BD_DATOS }}
          TF_VAR_secret_userbd: ${{ secrets.SECRET_USERBD }}
          TF_VAR_secret_passwordbd: ${{ secrets.SECRET_PASSWORDBD }}
